{% extends 'base.html.twig' %}

{% block body %}

<h2 class="page-header">Paldies</h2>
<h4>J큰s tikko ieg훮d훮j훮ties "{{preces.name}}"<h4>
<a class="btn btn-default" href="/woch">Atgriezties</a>

{% endblock %}