{% extends 'base.html.twig' %}

{% block body %}
<h2 class="page-header">Login success</h2>
<p>Username: {{username}}</p>
<p>Password: {{password}}</p>
<a class="btn btn-default" href="/woch">Atgriezties</a>
{% endblock %}