{% extends 'base.html.twig' %}

{% block body %}

<h2 class="page-header">Paldies</h2>
<h4>Jūs tikko noziedojāt "{{ziedojumi.charityname}}"<h4>
<a class="btn btn-default" href="/woch">Atgriezties</a>

{% endblock %}